/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* intestazione */
header {
  height: 150px;
  background-color: yellow;
  margin: 15px 15px 10px 15px;
}

/* piè di pagina */
footer {
  background-color: cyan;
  height: 80px;
  margin: 10px 15px 15px 15px;
}

/* corpo */
main {
  margin-left: 15px;
  margin-right: 15px;
}

/* centratura del corpo */
main::after {
  content: '';
  display: table;
  clear: both;
}

/* centratura alta delle colonne */
.col {
  float: left;
}

/* caratteristiche delle colonne */
main .col.left {
  background-color: pink;
  height: 450px;
  width: 24%;
}
main .col.center {
  background-color: purple;
  height: 600px;
  width: 50%;
  margin-left: 1%;
  margin-right: 1%;
}
main .col.right {
  background-color: transparent;
  height: 270px;
  width: 24%;
  margin-bottom: 10px;
}

/* caratteristiche box col left  */
.box {
  background-color: pink;
  height: 270px;
  margin-bottom: 5%;
}
